body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
#navbar {
    background-color: #515151;
    color: #fff;
    padding: 10px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
}

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:20px;
    background-color:rgb(46, 60, 87);
    margin: 0;
    padding:0;
}


#contact a.btn.contact-details {
    color: #fff; /* Set the text color for links with class btn and contact-details inside the #contact div */
}
#contact a:hover {
    color: rgb(123, 159, 227); /* Change the link color on hover */
}



#contact h1 {
    margin:90px
}
  
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
  }

ul .contact{
    padding-right: 10px;
  }
  
#navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

#navbar a:hover {
    background-color: rgb(97, 127, 182);
}

#projects a:hover, #contact a:hover {
    color: rgb(123, 159, 227);
}

#welcome-section {
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    height: 100vh;
}

#welcome-section h1, h3 {
    color: rgb(183, 183, 183);
}

/* Styling for the h1 element within the welcome section */
#welcome-section h1 {

    font-size: 2.5rem;
    margin: 0;
}

#projects {
    display:flex;
    padding: 50px;
    background-color: #fff;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
}


.project-tile {
    border: 1px solid #ddd;
    flex:1 1 200px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("icons/2560px-Node.js_logo.svg.png");
    transition: transform 0.4s ease; 
    background-size: cover; /* Make the background image cover the entire div */
    background-position: center; /* Center the background image */
    max-width: 230px;
    max-height: 200px; /* Add max-height property to limit the stretching */
    flex:1;
}


.project-tile a:visited {
    text-decoration: none;
    color:rgb(44, 44, 44)
}

#contact a:visited{
    text-decoration: none;
    color:rgb(44, 44, 44)
}

.project-tile:hover {
    transform: scaleX(1.2); /* On hover, scale the element along the X-axis (width) to 1.2 times its original size */
    opacity: 0.9;
}

@media (max-width: 1440px) {
    /* 1440px should include most laptop 
    screens and below that(phones and tables) */
}

.contact-links{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.contact-details:hover {
    transform: translateY(8px);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add the text shadow effect */
}

.contact-details {
    font-size: 1.4rem;
    transition: transform 0.3s ease-out;
  }


  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }

 

